
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: offwhite;
}

@font-face {
  src: url("https://use.typekit.net/lub1ege.css");
  font-family: "tomarik-introvert", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.parent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rose;
  transform: scaleY(0.75);
  z-index: -1;
}

.item-enter {
  opacity: 0;
  transform: scale(0.9);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.item-appear {
  opacity: 0;
}

.item-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}
